      #imgPos{
        text-align: center;
        margin: 75px 50px;
      }

      #overAll {
        background-color: white;
        font-family: georgia;
      }

      #LIKEheader{
        text-align: center;
        font-family: georgia;
        text-decoration: overline;
      }

      #HomeText{
      	font-family: georgia;
        text-align: center;
      	
      }

      #frameStyle {
        display:block;
        text-align: center;
        margin-top: 25px
      }

      #experienceStyle {
        list-style: square;
        text-align: left;
      }

      #resumeHead {
        text-align: center;
        font-style: bold;
      }