      #imgdiv{
        text-align: center;
        margin: 75px 50px;
      }

     /* #imgdivLeft{
      	text-align: left;
        margin: 75px 50px;
      }
      #imgdivRight{
      	text-align: right;
        margin: 75px 50px;
      } */

      #LIKEheader{
        text-align: center;
        font-family: georgia;
        text-decoration: overline;
      }

      #HomeText{
      	font-family: georgia;
        text-align: center;
      	
      }
