      #imgPos{
        text-align: center;
        margin: 75px 50px;
      }

      #overAll {
        margin: 0;
        padding: 0;
        background-color: white;
        font-family: georgia;
      }

      #LIKEheader{
        text-align: center;
        font-family: georgia;
        text-decoration: overline;
      }

      #HomeText{
      	font-family: georgia;
        text-align: center;
      	
      }

      #frameStyle {
        display:block;
        text-align: center;
        margin-top: 25px
      }

      #experienceStyle {
        list-style: circle;
        text-align: left;
        line-height: 150%;
      }

      #resumeHead {
        text-align: left;
        font-family: bold;
      }

      #HomePageSection1{
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100%;
        background-color: #4E8AAE;
      }

      #HomePageSection2{
        height: 100vh;
        width: 100%;
        background-color: #FFBA64;
      }

      #HomePageSection3{
        height: 100vh;
        width: 100%;
        background-color: #50CB82;
      }

      .HomePageHeader{
        padding-top: 20px;
        font-size: 500%;
        text-align: center;
        font-family: sans-serif;   
        color: #FFFFFF;
        text-shadow: 1px 1px 10px #000000;
        letter-spacing: 10px;
      }

      .HomePageText{
        padding-top: 20px;
        text-align: center;
        font-family: sans-serif;   
        color: #FFFFFF;
        text-shadow: 1px 1px 10px #000000;
        letter-spacing: 5px;
        
      }

