      #imgPos{
        text-align: center;
        margin: 75px 50px;
      }

      #overAll {
        margin: 0;
        padding: 0;
        background-color: white;
        font-family: georgia;
      }

      #LIKEheader{
        text-align: center;
        font-family: georgia;
        text-decoration: overline;
      }

      #HomeText{
      	font-family: georgia;
        text-align: center;
      	
      }

      #frameStyle {
        display:block;
        text-align: center;
        margin-top: 25px
      }

      #experienceStyle {
        list-style: circle;
        text-align: left;
        line-height: 150%;
      }

      #resumeHead {
        text-align: left;
        font-family: bold;
      }

      #HomePageSection1{
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100%;
        background-color: #4E8AAE;
        overflow-y: hidden;
      }

      #HomePageSection2{
        height: 100vh;
        width: 100%;
        background-color: #FFBA64;
        overflow-y: hidden;
      }

      #HomePageSection3{
        height: 100vh;
        width: 100%;
        background-color: #50CB82;
        overflow-y: hidden;
      }

      .HomePageHeader{
        padding-top: 20px;
        font-size: 500%;
        text-align: center;
        font-family: sans-serif;   
        color: #FFFFFF;
        text-shadow: 1px 1px 10px #000000;
        letter-spacing: 35px;
      }

      .HomePageText{
        padding-top: 20px;
        text-align: center;
        font-family: sans-serif;   
        color: #FFFFFF;
        text-shadow: 1px 1px 10px #000000;
        letter-spacing: 15px;
      }

      .HomePageParagraph{
        text-align: center;
        font-family: sans-serif;   
        font-size: 24px;
        color: #FFFFFF;
        letter-spacing: 2px;
      }

      #MoviesParagraph{
        text-align: center;
        font-family: sans-serif;   
        font-size: 24px;
        color: #FFFFFF;
        letter-spacing: 2px;
      }

      .BoxSize{
        padding: 10px;
        border: thin;
        border-color: #000000;
        border-radius: 20px;
        background-color: #4E8AAE;
        float: left;
        height: 300px;
        width: 400px;
        margin: 5px;
      }

      .BoxSection{
        margin-left: auto;
        margin-right: auto;
        width: 700px;
      }

      #WhatIKnowLeft{
        display: block;
        text-align: left;
        font-size: 24px;
        color: #FFFFFF;
        letter-spacing: 10px;
      }

