<div class="content-wrapper">
  <div class="header">
    <h1>Under construction!</h1>
    <h5>Here is some stuff to keep you busy...</h5>
  </div>
  <div class="items-list">
    <div class="flex-item" (click)="navigateTo('about')">
      <i class="fa fa-info-circle" id="about"></i>
    </div>
    <a class="flex-item" href="/assets/Keenan_Matthew_Resume.pdf" target="_blank">
      <i class="fas fa-file-alt" id="resume"></i>
    </a>
    <a class="flex-item" href="https://github.com/AdventureMan/AdventureMan.github.io" target="_blank">
      <i class="fas fa-code" id="sourcecode"></i>
    </a>
  </div>
</div>