.content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Nanum Gothic Coding', monospace;
}

.header {
    flex: 0 0 100%;
    text-align: center;
}

.items-list {
    display: flex;
    height: 5rem;
    justify-content: center;
}

.flex-item {
    flex: 0 1 30%;
    padding: 0.5rem;
    margin: 0px 10px;
    width: 5vw;
    z-index: 1;
    -webkit-transition: z-index 0s 5s;
    -moz-transition: z-index 0s 5s;
    transition: z-index 0s 5s;
    color: black;
}

.flex-item:hover {
    z-index: 50;
    -webkit-transition: z-index 0s 0s;
    -moz-transition: z-index 0s 0s;
    transition: z-index 0s 0s;
}

i {
    font-size: 3rem;
    transition: font-size 300ms;
    position: absolute;
}

i:hover {
    cursor: pointer;
    font-size: 4rem;
}