.flex {
    display: flex;
    .flex-100 {
        flex: 0 1 100%;
    }
    .flex-50 {
        flex: 0 1 50%;
    }
    // Line Sizes
    .large {
        font-size: 600;
    }
}

.flex-center{
    justify-content: center;
}

.content{
    line-height: 1.5rem;
    font-family: 'Oxygen', sans-serif;
}