<div class="flex flex-center">
  <div class="flex-50 large">
    <div class="content">
      Hi there. My name is Matt Keenan. I'm a 25 year old software engineer, tinkerer, dog lover, and tech enthusiast.
      I have an advanced focus in front end development and single page applications using Angular + Typescipt. When
      I'm
      not writing
      spaghetti code I can be found fiddling with my plex server or my raspberry pi. In non-nerd land you can find me
      playing
      with my mini aussie, Heidi, flying my Mavic Pro, or watching the Flyers with my cat, Giroux. All in all, I'm a
      pretty chill dude. Thanks for checking out my website!
    </div>
  </div>
</div>